<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="Ocaml.launchConfigurationType">
<stringAttribute key="attr_ocaml_launch_args" value=""/>
<stringAttribute key="attr_ocaml_launch_project_name" value="Ocaml_CALCStateT"/>
<stringAttribute key="attr_ocaml_run_full_path" value="C:\Users\Filipe\Desktop\Faculdade\ICL\Codigos\Ocaml\Ocaml_CALCStateT\_build\main.byte"/>
</launchConfiguration>
